# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
# Capacitor native platforms
# android/
# ios/
# electron/

# Android build artifacts
android/app/build
android/.gradle
android/local.properties
android/captures
android/.externalNativeBuild
android/.cxx
android/*.iml
android/app/*.iml

# iOS build artifacts
ios/App/build
ios/App/Pods
*.log
